body {
    /*background-image: url("../wallpaper.png");*/
    background-size: cover;
    background-attachment: fixed;
	background-color: #fff8e8;
	color: #1c1a18;
	font-size: 18px;
	font-family: Garamond, serif;
}