body {
    background-image: url("../windmill wallpaper.png");
    background-size: cover;
    background-attachment: fixed;
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#heading {
    width: 413px;
    height: 60px;
    background-color: #280F09;
    border: 5px solid #471B11;
    margin: auto;
}

#websitetitle {
    padding: 6px;
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 42px;
    text-align: center;
}

#blogheading {
    width: 413px;
    height: 50px;
    background-color: #280F09;
    border: 2.5px solid #471B11;
    border-left-width: 5px;
    border-right-width: 5px;
    margin: auto;
    margin-bottom: 5px;
}

#blogbackground {
    width: 800px;
    height: auto;
    background-color: #280F09;
    border: 5px solid #471B11;
    margin: auto;
    display: block;
}

.nav {
    width: 140px;
    height: 50px;
    background-color: #280F09;
    border: 2.5px solid #471B11;
    margin-left: -2.5px;
    margin-right: -2.5px;

    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 24px;
}

.post {
    width: 790px;
    height: 200px;
    background-color: #280F09;
    border: 5px solid #471B11;
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 24px;
}

.title {
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 36px;
    display: inline;
    padding: 10px;
}

.date {
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    margin-top: -5px;
}

.desc {
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 24px;
    padding: 10px;
    margin-top: -5px;
    height: 35px;
}

.read {
    width: 130px;
    height: 40px;
    background-color: #280F09;
    border: 5px solid #471B11;
    margin-left: 7.6px;

    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 24px;
    position: absolute;
}

.bg {
    background-color: #280F09;
    border: 5px solid #471B11;
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 28px;
    padding: 10px;
}

.link {
    color: #E7DDD9;
    font-family: Garamond, serif;
    font-size: 28px;
    margin-right: 10px;
    text-align: center;
}

[type="button"]:hover {
    background-color: #1f0c07;
}

[type="button"]:focus {
    outline: 0;
}